<template lang="pug">
v-toolbar(dark fixed dense clipped-left app)
  v-toolbar-side-icon(to="/home") 
    v-icon home
  v-toolbar-side-icon(to="/settings") 
    v-icon settings
  v-toolbar-title Triber-car-sim
</template>

<script>
import { mapMutations } from 'vuex'
import { TOGGLE } from '@/store/modules/Menu/constants'

export default {
  name: 'triber-toolbar',
  data: () => ({
  }),
  methods: {
    ...mapMutations({
      toggle: TOGGLE
    })
  }
}
</script>