<template lang="pug">
  div
    v-alert(color="error" outline icon="warning" :value="!settingsValid")
      span 
        | The settings are not configured. Go to 
        router-link(to="/settings") settings
        | 
        | to fix this.
    v-layout(row justify-center align-center)
      v-btn(@click="openFile" :loading="loading" :disabled="loading") open
        v-icon(right) file_upload
        v-progress-circular(slot="loader" :size="45" :value="progress") {{numberOfDone}}/{{numberOfFiles}}
    v-layout(row)
      v-spacer
      v-btn(:disabled="!allDone || !started" @click="nextStep") next
</template>

<script>
  import { ipcRenderer } from 'electron'
  import { mapGetters, mapMutations } from 'vuex'

  import { SIM_FILE_NAMES_EVENT, SIM_FILE_DATA_EVENT, SIM_FILE_DONE_EVENT } from '@/../communication/constants'
  import { NAMESPACE, RESET_DATA, SET_FILENAMES, ADD_DATA, FILE_DONE } from '@/store/modules/Data/constants'
  import { NAMESPACE as STEPPER_NAMESPACE, NEXT } from '@/store/modules/Stepper/constants'

  export default {
    name: 'home',
    data: () => ({
      started: false
    }),
    computed: {
      ...mapGetters({
        settingsValid: 'valid'
      }),
      ...mapGetters(NAMESPACE, {
        allDone: 'allDone',
        numberOfFiles: 'numberOfFiles',
        numberOfDone: 'numberOfDone'
      }),
      progress: function () {
        if (this.numberOfFiles === 0 && this.numberOfDone === 0) { return 0 }
        return (this.numberOfFiles / this.numberOfDone) * 100
      },
      loading: function () {
        return this.started && !this.allDone
      }
    },
    created () {
      ipcRenderer.on(SIM_FILE_NAMES_EVENT, (event, data) => {
        this.setFilenames(data)
        this.started = true
      })
      ipcRenderer.on(SIM_FILE_DATA_EVENT, (event, data) => {
        this.addData({file: data.file.replace(/^.*[\\/]/, ''), data: data.data})
      })
      ipcRenderer.on(SIM_FILE_DONE_EVENT, (event, data) => {
        console.log(SIM_FILE_DONE_EVENT)
        this.fileDone(data)
      })
    },
    methods: {
      ...mapMutations(NAMESPACE, {
        resetData: RESET_DATA,
        setFilenames: SET_FILENAMES,
        addData: ADD_DATA,
        fileDone: FILE_DONE
      }),
      ...mapMutations(STEPPER_NAMESPACE, {
        nextStep: NEXT
      }),
      openFile () {
        this.resetData()
        ipcRenderer.send('chooseSimfile')
      }
    }
  }
</script>