<template lang="pug">
  v-stepper(v-model="step" style="height: 100%")
    v-stepper-header
      v-stepper-step(step="1" :complete="step > 1" v-bind:rules="[() => settingsValid]") File
      v-divider
      v-stepper-step(step="2" :complete="step > 2") Preview
      v-divider
      v-stepper-step(step="3") Simulation
    v-stepper-items
      v-stepper-content(step="1")
        FileHandling
      v-stepper-content(step="2")
        v-card.mb-5(color="grey lighten-1")
      v-stepper-content(step="3")
        v-card.mb-5(color="grey lighten-1")
</template>

<script>
  import { mapGetters } from 'vuex'
  import FileHandling from './FileHandling'
  import { NAMESPACE } from '@/store/modules/Stepper/constants'

  export default {
    name: 'home',
    data: () => ({
    }),
    computed: {
      ...mapGetters({
        settingsValid: 'valid'
      }),
      ...mapGetters(NAMESPACE, {
        storeStep: 'step'
      }),
      step: {
        get: function () {
          return this.storeStep
        },
        set: function (v) {
        }
      }
    },
    components: {
      FileHandling
    }
  }
</script>