<template lang="pug">
v-flex(xs6)
  h2 Settings
  form
    v-text-field(
      label="Host"
      v-model="host"
      :error-messages="hostErrors"
      @blur="$v.host.$touch()"
      required
    )
    v-text-field(
      label="Port"
      v-model="port"
      type="number"
      @blur="$v.port.$touch()"
      :error-messages="portErrors"
      required
    )
    v-text-field(
      label="Api key"
      v-model="apiKey"
      @blur="$v.apiKey.$touch()"
      :error-messages="apiKeyErrors"
      :counter="36"
      required
    )

    v-btn(@click="submit") Save
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, numeric, alphaNum, ipAddress } from 'vuelidate/lib/validators'
import { mapGetters, mapMutations } from 'vuex'

import { UPDATE } from '@/store/modules/Settings/constants'

export default {
  name: 'settings',
  mixins: [validationMixin],
  mounted: function () {
    this.host = this.storeHost
    this.port = this.storePort
    this.apiKey = this.storeApiKey
  },
  validations: {
    host: {
      required,
      format (v) {
        return alphaNum(v) || ipAddress(v)
      }
    },
    port: { required, numeric },
    apiKey: {
      required,
      format (v) {
        return /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(v)
      }
    }
  },
  data: () => ({
    host: null,
    port: null,
    apiKey: null
  }),
  computed: {
    ...mapGetters({
      storeHost: 'host',
      storePort: 'port',
      storeApiKey: 'apiKey'
    }),
    hostErrors () {
      const errors = []
      if (!this.$v.host.$dirty) return errors
      !this.$v.host.required && errors.push('Host is required')
      !this.$v.host.format && errors.push('Host should be an ip or url')
      return errors
    },
    portErrors () {
      const errors = []
      if (!this.$v.port.$dirty) return errors
      !this.$v.port.required && errors.push('Port is required')
      !this.$v.port.numeric && errors.push('Port must be a number')
      return errors
    },
    apiKeyErrors () {
      const errors = []
      if (!this.$v.apiKey.$dirty) return errors
      !this.$v.apiKey.required && errors.push('Api key is required')
      !this.$v.apiKey.format && errors.push('Api key is not a uuid')
      return errors
    }
  },
  methods: {
    ...mapMutations({
      updateSettings: UPDATE
    }),
    submit () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.updateSettings({host: this.host, port: this.port, apiKey: this.apiKey})
      }
    }
  }
}
</script>