<template lang="pug">
  div(id="app")
    v-app(dark)
      TriberToolbar
      v-content
        v-container(fluid fill-height)
          v-layout()
            v-flex(xs12)
              router-view
      TriberFooter
</template>

<script>
import TriberToolbar from '@/components/TriberToolbar'
import TriberFooter from '@/components/TriberFooter'

export default {
  name: 'triber-car-simulator',
  data: () => ({
    drawer: false
  }),
  components: {
    TriberToolbar,
    TriberFooter
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
  /* Global CSS */
</style>
